@import 'variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $base-font;
}

ul li {
	
	list-style: none;
}

a {
	text-decoration: none;
}

section, footer	{
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}